.btn {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  padding: 15px 25px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  transition: all 0.3s;
}

.btn:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s;
}

.btn-5 {
  height: 60px;
  min-width: 220px;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.btn-5:active {
  top: 2px;
}

.btn-5 span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  align-self: center;
  justify-self: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.btn-5:before {
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 2.5;
  font-size: 150%;
  transition: all 0.3s;
  left: 0;
  top: -100%;
  content: "GENERATE !";
}

.btn-5:hover span {
  -webkit-transform: translateY(300%);
  -moz-transform: translateY(300%);
  -ms-transform: translateY(300%);
  transform: translateY(300%);
}

.btn-5:hover:before {
  top: 0;
}
