// 1440px
body {
  font-family: var(--font-regular);
  font-size: 20px;
}

.thin {
  font-family: var(--font-regular);
  font-weight: lighter;
}

.bold {
  font-family: var(--font-regular);
  font-weight: bold;
}

h1,
.h1 {
  font-size: 64px;
}

h2,
.h2 {
  font-size: 54px;
}

h3,
.h3 {
  font-size: 37px;
}

h4,
.h4 {
  font-size: 32px;
}

.p-lg {
  font-size: 25px;
}

.p-md {
  font-size: 18px;
}

.p-sm {
  font-size: 15px;
}

.p-extra-sm {
  font-size: 12px;
}

.p-tiny {
  font-size: 9px;
}

.p-extra-tiny {
  font-size: 8px;
}

@media only screen and (min-width: 320px) and (max-width: 374px) {
  h1,
  .h1 {
    font-size: 59px;
  }

  h2,
  .h2 {
    font-size: 49px;
  }

  h3,
  .h3 {
    font-size: 32px;
  }

  h4,
  .h4 {
    font-size: 23px;
  }

  .p-lg {
    font-size: 20px;
  }

  body {
    font-size: 16px;
  }

  .p-sm {
    font-size: 10.5px;
  }

  .p-md {
    font-size: 13px;
  }

  .p-extra-sm {
    font-size: 10px;
  }

  .p-tiny {
    font-size: 9px;
  }

  .p-extra-tiny {
    font-size: 3px;
  }
}
@media only screen and (min-width: 375px) and (max-width: 767px) {
  h1,
  .h1 {
    font-size: 59px;
  }

  h2,
  .h2 {
    font-size: 28px;
  }

  h3,
  .h3 {
    font-size: 14px;
  }

  h4,
  .h4 {
    font-size: 12px;
  }

  .p-lg {
    font-size: 20px;
  }

  body {
    font-size: 16px;
  }

  .p-md {
    font-size: 14px;
  }

  .p-sm {
    font-size: 10.5px;
  }

  .p-extra-sm {
    font-size: 16px;
  }

  .p-tiny {
    font-size: 10px;
  }

  .p-extra-tiny {
    font-size: 3px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  h1,
  .h1 {
    font-size: 44px;
  }

  h2,
  .h2 {
    font-size: 37px;
  }

  h3,
  .h3 {
    font-size: 25px;
  }

  h4,
  .h4 {
    font-size: 23px;
  }

  .p-lg {
    font-size: 17px;
  }

  body {
    font-size: 13.8px;
  }

  .p-md {
    font-size: 13.6px;
  }

  .p-sm {
    font-size: 10.5px;
  }

  .p-extra-sm {
    font-size: 10px;
  }

  .p-tiny {
    font-size: 6px;
  }

  .p-extra-tiny {
    font-size: 5.5px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1439px) {
  h1,
  .h1 {
    font-size: 44px;
  }

  h2,
  .h2 {
    font-size: 37px;
  }

  h3,
  .h3 {
    font-size: 25px;
  }

  h4,
  .h4 {
    font-size: 23px;
  }

  .p-lg {
    font-size: 19px;
  }

  body {
    font-size: 15.8px;
  }

  .p-md {
    font-size: 14px;
  }

  .p-sm {
    font-size: 10.5px;
  }

  .p-extra-sm {
    font-size: 10px;
  }

  .p-tiny {
    font-size: 6px;
  }

  .p-extra-tiny {
    font-size: 5.5px;
  }
}
@media only screen and (min-width: 1920px) {
  h1,
  .h1 {
    font-size: 83px;
  }

  h2,
  .h2 {
    font-size: 72px;
  }

  h3,
  .h3 {
    font-size: 49px;
  }

  h4,
  .h4 {
    font-size: 45px;
  }

  .p-lg {
    font-size: 33px;
  }

  body {
    font-size: 26px;
  }

  .p-md {
    font-size: 23px;
  }

  .p-sm {
    font-size: 20px;
  }

  .p-extra-sm {
    font-size: 20px;
  }

  .p-tiny {
    font-size: 12px;
  }

  .p-extra-tiny {
    font-size: 11px;
  }
}
