// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Color system

$white: #fff !default;
$gray-100: #eeeeee !default;
$gray-200: #f0f3fa !default;
$gray-300: #dee2e6 !default;
$gray-400: #cccccc !default;
$gray-500: #a2a2a2 !default;
$gray-600: #545454 !default;
$gray-700: #495057 !default;
$gray-800: #333333 !default;
$gray-900: #5f616d !default;
$black: #000 !default;

$grays: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$grays: map-merge(
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900,
  ),
  $grays
);

$orange: #e16411 !default;
$red: #dc3545 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$cyan: #17a2b8 !default;

$gray3-light: #eef0f1 !default;
$gray3-dark: #0d1219 !default;

//TITLES
$accent-light: #747679 !default;
$accent-dark: #e7e9ed !default;

//BG INPUT
$gray2-light: #f2f2f2 !default;
$gray2-dark: #3a3b3c !default;

// TEXT INPUT
$gray-light: #050505 !default;
$gray-dark: #d9e6eb !default;

//BASE
$base-light: #202428 !default;
$base-dark: #e4e6eb !default;

// PRIMARY BACKGROUND
$background-light: white !default;
$background-dark: #242526 !default;

// SECONDARY BACKGROUND
$background2-light: #f0f2f5 !default;
$background2-dark: #18191a !default;

// INVERTED
$inverted-light: #18191a !default;
$inverted-dark: #f0f2f5 !default;

//BASE INVERTED
$base-inv-light: #e4e6eb !default;
$base-inv-dark: #202428 !default;

$colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(
  (
    "orange": $orange,
    "red": $red,
    "yellow": $yellow,
    "green": $green,
    "cyan": $cyan,
    "white": $white,
  ),
  $colors
);

$primary: $orange !default;
$secondary: #86929e !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;

$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
  (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark,
    "orange": $orange,
    "red": $red,
    "yellow": $yellow,
    "green": $green,
    "cyan": $cyan,
    "white": $white,
    "black": $black,
    "gray-200": $gray-200,
    "gray-600": $gray-600,
    "gray3-light": $gray3-light,
    "gray2-light": $gray2-light,
    "gray-light": $gray-light,
    "base-light": $base-light,
    "accent-light": $accent-light,
    "gray3-dark": $gray3-dark,
    "gray2-dark": $gray2-dark,
    "gray-dark": $gray-dark,
    "base-dark": $base-dark,
    "accent-dark": $accent-dark,
    "background-light": $background-light,
    "background-dark": $background-dark,
    "background2-light": $background2-light,
    "background2-dark": $background2-dark,
    "inverted-light": $inverted-light,
    "inverted-dark": $inverted-dark,
    "base-inv-light": $base-inv-light,
    "base-inv-dark": $base-inv-dark,
  ),
  $theme-colors
);

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1920px,
) !default;

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1400px,
) !default;

$font-family-sans-serif: "dwa", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace: "dwa", "Courier New", monospace !default;
$font-family-base: $font-family-sans-serif !default;
