input[type="color"] {
  border-radius: 0;
  width: 80px;
  height: 40px;
  border: 1px solid red;
  padding: 0;
  outline: none !important;
  -webkit-appearance: none;
  box-shadow: none !important;
  background-color: transparent;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
  outline: none !important;
  box-shadow: none !important;
}
input[type="color"]::-webkit-color-swatch {
  border: none !important;
  border-radius: none !important;
  outline: none !important;
  box-shadow: none !important;
}

input:-internal-autofill-selected {
  background-color: transparent !important;
  background-image: none !important;
  color: inherit !important;
}
/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
