@import "./partials/variables";
@import "~bootstrap/scss/bootstrap";
@import "./partials/typography";
@import "./partials/fonts";
@import "./partials/button";
@import "./partials/form";
@import "../components/Header/index.scss";
@import "../components/Cursor/index.scss";
@import "../components/Switcher/index.scss";
@import "../components/Footer/index.scss";
@import "../components/PreviewBanner/index.scss";

html,
body,
#__next,
#root {
  width: 100%;
}

html {
  scroll-behavior: smooth;
  cursor: none;
}

body {
  overflow-x: hidden;
  cursor: none !important;
}
p,
a,
button,
span,
svg,
select,
input,
label {
  cursor: none !important;
}
a {
  text-decoration: none !important;
  &:hover {
    text-decoration: none !important;
  }
}
.banner {
  padding: 80px 30px 180px 30px;
}
.card-form {
  margin-left: auto;
  margin-right: auto;
  margin-top: -140px;
  z-index: 9;
  padding: 40px 25px 0 25px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
  @media (min-width: 992px) {
    max-width: 90%;
  }
}
#previewer {
  padding-top: 86px;
  margin-top: -86px;
}
.hoverable {
  cursor: none;
}
input:focus,
input:visited,
input:active {
  outline: none !important;
}

.dark {
  .icon {
    svg {
      fill: white;
    }
  }
}
