.dark {
  .footer-logo::before,
  .footer-logo::after {
    background: #ffffff;
  }
}
.footer-logo::before,
.footer-logo::after {
  content: "";
  width: calc(33.333333% - 40px);
  height: 1px;
  background: #000000;
  position: absolute;
  display: block;
  transition: transform 0.4s 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  top: 50%;
  transform: translateY(-50%);
}
.footer-logo::before {
  left: 0;
  transform-origin: right center;
}
.footer-logo::after {
  right: 0;
  transform-origin: left center;
}

@media (min-width: 1024px) {
  .footer-logo::before,
  .footer-logo::after {
    top: 50%;
    transform: translateY(-50%) scale(0, 1);
    // margin-top: -0.8125rem;
  }
}

.footer-logo::before,
.footer-logo::after {
  transform: translateY(-50%) scale(1, 1) !important;
}

footer .icon svg {
  height: 30px;
}
.devby {
  svg {
    height: 15px;
    fill: red;
  }
}
